body {
    background-color: black;
}

.header {
    background-color: #8a8a8a;
    border-radius: 5px 5px 5px 5px;
    display: flex;
    flex: 1;
    flex-grow: stretch;
    align-items: center;
    justify-content: space-between;
    padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 4px; 
} 

.h_text {
    color:rgb(19, 214, 78);
    font-family: Monaco, Verdana;
    font-size: 28px;
}

.title {
    display: flex;
    align-items: center;
}

.topnav {
    display: flex;
}

.topnav a {
    color: black;
    text-align: center;
    padding: 10px; /*Spacing between links*/
    text-decoration: none; /*Removes link underline*/
    font-size: 17px;
    display: flex;
    justify-content: flex-end;
  }

  /* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Style the search box inside the navigation bar */
.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-right: 16px;
    font-size: 17px;
  }

  .top {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
 
  .featured {
    background-color: #8a8a8a;
    border-radius: 5px 5px 5px 5px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 600px;
    max-height: 400px;
    padding: 16px;
  }

  img {
    border-radius: 5px 5px 5px 5px;
  }

  .kick {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
  }

  button { 
    margin: 10px;
  }

  .m1 {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .category1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    


  }

  .category2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
  }
  .category3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .category4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .footer {
    background-color: #8a8a8a;
    border-radius: 5px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: auto;
  }

  .f_text {
    font-size: smaller;
    color:rgb(19, 214, 78);
    font-family: Monaco, Verdana;
    margin: 20px;
  }

