body {
  background-color: black;
}

/*Header*/
.header {
  background-color: #8a8a8a;
  border-radius: 5px 5px 5px 5px;
  display: flex;
  flex: 1;
  flex-grow: stretch;
  align-items: center;
  justify-content: space-between;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px; 
} 

.h_text {
  color:rgb(19, 214, 78);
  font-family: Monaco, Verdana;
  font-size: 28px;
}

.title {
  display: flex;
  align-items: center;
}

.topnav {
  display: flex;
}

.topnav a {
  color: black;
  text-align: center;
  padding: 10px; /*Spacing between links*/
  text-decoration: none; /*Removes link underline*/
  font-size: 17px;
  display: flex;
  justify-content: flex-end;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-right: 16px;
  font-size: 17px;
}

/*What's New section*/
.top {
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.featured {
  background-color: #8a8a8a;
  border-radius: 5px 5px 5px 5px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 600px;
  max-height: 300px;
  padding-left: 40px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.kick {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
}

button { 
  color: #fff;
  font-family: 'Roboto', arial;
  border-color: #fff;
  border-radius: 8px;
  background-color: #1F2937;
  margin-top: 10px;
  padding: 5px 25px;
  font-size: 15px;
}

/*4 categories content*/
.m1 {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
  flex-wrap: wrap;
  gap: 50px;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 300px;
}

.m1 a {
  text-decoration: none;
  color:black;
}

.cat {
  border: 5px solid #1F2937;
  border-radius: 5px;
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Mission Statement section*/
.m2 {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  height: 500px;
}

.quote {
  display: flex;
  max-width: 800px;
  font-style: italic;
  font-size: 20px;
  color: #1F2937;
}

.sign {
  display: flex;
  align-self: flex-end;
  padding-top: 30px;
  padding-right: 550px;
}

/*Sub to Newsletter Section*/
.m3 {
  background-color: white;
  margin-left: 50px;
  margin-right: 50px;
  padding: 40px;
  display: flex;
  justify-content: center;
}

.sub {
  background-color: #1F2937;
  border-radius: 5px 5px 5px 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1500px;
  max-height: 300px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 0px;
}

.sub_text {
  text-align: left;
}

.button {
  display: flex;
  justify-content: center;
  align-self: center;
  padding-left: 50px;
}

/*Footer*/
.footer {
  background-color: #8a8a8a;
  border-radius: 5px 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: auto;
}

.f_text {
  font-size: smaller;
  color:rgb(19, 214, 78);
  font-family: Monaco, Verdana;
  margin: 20px;
}
